body{
    background-color: #0d1117;
    color: #86b7fe;
}

.form-control{
    background-color: #161b22;
    color: rgb(230, 230, 230);
}
.form-select{
    background-color: #161b22;
    color: rgb(230, 230, 230);
}

.form-control:focus {
    color: rgb(230, 230, 230);
    background-color: #1d2633;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}

h1{
    color: #8732fd;
    font-size: 3.5rem;
    font-weight: 750;
}
h2{
    color: #a8a1fc;
}



/* NODOS------------------------------------------------------------------------ */

.circle {
    width: 3rem;
    height: 3rem;
    background-color: #8732fd;
    border-radius: 50%; /* This makes the element round */
}


.link {
    fill: none;
    stroke: #999;
    stroke-opacity: 0.6;
}

.node {
    fill: #7e41b8;
    stroke: #fff;
}



/* NODOS------------------------------------------------------------------------ */

.display-b{
    display: flex;
    justify-content: space-between;
}

.separador{
    margin: 2rem 0;
}

.btn-primary{
    background-color: #8732fd;
    border-color: #a05cff;
}
.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #6714db;
    border-color: #34165e;
}
.btn:active {
    color: var(--bs-btn-active-color);
    background-color: #c97a13;
    border-color: #ff6913;
}



/* ------------------------------------------------------------------ */

table {
    border-collapse: collapse;
    margin: 10px 0;
}
th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}